body {
  background-image: url('./yellowink.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  text-align: center;
  color: rgb(1,2,34);
}

h2 {
  font-family: 'Trirong', serif;
  font-size: 3rem;
  letter-spacing: 5px;
}

h4 {
  font-family: 'Trirong', serif;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  margin-top: -1rem;
}

#form {
  margin: 0 auto;
  display: inline-block;
}

.input {
  width: 14rem;
  height: 2.5rem;
  border-radius: 5px;
  border: none;
  margin: .5rem;
  padding-left: 1rem;
  font-size: .7rem;
  font-family: 'Trirong', serif;
  font-family: 'Raleway', sans-serif;
  display: block;
  background-color: rgb(1,2,34);
  border: 1px solid white;
  text-transform: uppercase;
  color: white;
  outline: none;
}

#sendButton {
  background-color: white;
  border: .5px solid rgb(1,2,34);
  color: rgb(1,2,34);
  width: 15.2rem;
  font-size: .9rem;
  padding: 0;
  letter-spacing: 1px;
}

.modal {
  margin: 0 auto;
  top: 2rem;
}

#img {
  margin-top: -20rem;
  width: 100%;
}
